$forest-green: #163835;
$lighter-green: #245c57;
$medium-green: #1f4e4a;
$light-blue: #e1fefc;

$mobile: 576px;
$tablet-small: 768px;
$tablet: 992px;
$desktop: 1200px;

.camp {
  &__interactive {
    position: relative;
  }

  &__content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    gap: 30px;
    
    @media (max-width: $tablet-small ) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
    
    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      text-transform: uppercase;
      font-weight: 800;
      color: $forest-green;

      h1 {
        font-size: 100px;

        @media (max-width: $tablet ) {
          font-size: 80px;
        }

        @media (max-width: $mobile ) {
          font-size: 60px;
        }
      }

      h2 {
        font-size: 40px;
        margin-top: 40px;

        @media (max-width: $tablet ) {
          font-size: 30px;
          margin-top: 30px;
        }

        @media (max-width: $mobile ) {
          font-size: 20px;
          margin-top: 20px;
        }
      }
    }

    &__body {
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 8px;
      line-height: 20px;
    }
  }

  &__tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 100px;
    text-transform: uppercase;
    font-weight: 800;
    
    &__tab {
      padding: 20px 10px;
    }
    
    .active {
      background-color: $lighter-green;
      color: $light-blue;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  &__telluride, &__ourey {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 30%;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 250px;
    padding: 20px;
    border-radius: 8px;

    &__heading {
      text-transform: uppercase;
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 20px;
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      gap: 10px;
      font-weight: 600;

      li.status {
        color: $lighter-green;
        font-weight: 800;
      }
      li.full {
        color: rgb(165, 45, 1) !important;
      }
    }
  }
}