$forest-green: rgb(16, 67, 0);
$navy-blue: rgb(0, 0, 76);

.App {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    align-items: center;
    transition: background-color 0.3s ease;
    padding-top: 5px;
    &.inverted {
      background-color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .nav__link {
        color: $navy-blue;
      }
    }
    .logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      &__title-container {
        font-weight: 800;
        text-transform: uppercase;
        h4 {
          color: $forest-green;
        }
      }
      .logo {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .nav {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      &__link {
        color: white;
        text-decoration: underline;
        text-underline-offset: 4px;
        font-style: italic;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  .section {
    &__background-pic {
      height: auto;
      width: 100%;
    }

    .mtns {
      position: relative;
      &__title-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}