$forest-green: #163835;
$lighter-green: #245c57;
$medium-green: #1f4e4a;
$light-blue: #e1fefc;

$mobile: 576px;
$tablet-small: 768px;
$tablet: 992px;
$desktop: 1200px;

.App {
  .content {
    .trees {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
      padding: 80px 0;
      @media (max-width: $tablet-small ){
        padding: 40px 0;
      }
    }
  }
  header {
    display: flex;
    z-index: 2;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding-top: 5px;

    @media (max-width: $tablet-small ){
      justify-content: flex-start;
    }
    &.inverted {
      background-color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .nav__link {
        color: $forest-green;
      }
      .logo-container__title-container h4 {
        color: $forest-green;
      }
      .logo-container__title-container {
        @media (max-width: $tablet-small ) {
          display: block;
        }
      }
    }
    .logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      &__title-container {
        font-weight: 800;
        text-transform: uppercase;
        h4 {
          color: $light-blue;
        }
        @media (max-width: $tablet-small ) {
          display: none;
        }
      }
      .logo {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .section {
    &__background-pic {
      max-height: 720px;
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    background-color: $forest-green;
    
    .logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    
      &__title-container {
        font-weight: 800;
        text-transform: uppercase;
  
        h4 {
          color: $lighter-green;
        }
        h5 {
          color: $medium-green;
        }
      }
  
      .logo {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 50%;
      }
    }
    .copyright {
      color: $lighter-green;
      @media (max-width: $tablet-small ) {
        font-size: 10px;
      }
    }
  }
}

@import './components/camp/camp.scss';
@import './components/summit/summit.scss';
@import './components/mtns/mtns.scss';
@import './components/nav/nav.scss';