$forest-green: #163835;
$lighter-green: #245c57;
$medium-green: #1f4e4a;
$light-blue: #e1fefc;

$mobile: 576px;
$tablet-small: 768px;
$tablet: 992px;
$desktop: 1200px;

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  @media (max-width: $tablet-small ){
    display: none;
  }

  &__link {
    color: $light-blue;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
  }
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 18px;
  color: $light-blue;
  transition: color 0.2s;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 26px;
  display: none;
    
  @media (max-width: $tablet-small ) {
    display: block;
  }

  .bm-burger-bars {
    height: 10% !important;
    background-color: $forest-green;
  }
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: $lighter-green;
}

.bm-menu {
  background: $forest-green;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-menu-wrap {
  width: 200px !important;
}